<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre</title>
    <script
      src="https://kit.fontawesome.com/a3ad730a3f.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>
  <body>
    <header>
      <img
        src="images/logo-mercado-liebre.svg"
        width="200px"
        alt="Mercado Liebre Logo"
      />
      <div class="contenedor_barra">
        <input type="text" placeholder="Buscar productos, marcas"/>
      </div>
      <i class="fa-solid fa-magnifying-glass"></i>
      <div>
        <h4>
          <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin
          tarjeta de crédito
        </h4>
        <nav>
          <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
            <br />
            <li>
              <a href="#">Crea tu cuenta</a><i class="fa-solid fa-id-card"></i>
            </li>
            <li>
              <a href="#">Ingresa</a
              ><i class="fa-solid fa-right-to-bracket"></i>
            </li>
            <li>
              <a href="#">Mis Compras</a><i class="fas fa-shopping-cart"></i>
            </li>
          </ul>
        </nav>
      </div>
      <div class="burger_boton">
      <i class="fa-solid fa-bars"></i>
    </div>
    </header>
    <img src="images/img-home-banner.jpg" class="banner" alt="foto_banner">
    <main>
      <!-- Basado en tu última visita -->
      <section class="section_imagenes">
        <article>
          <h4>Basado en tu última visita</h4>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <p>$6.770</p>
          <p>40% OFF</p>
          <p>Cafetera Moulinex</p>
        </article>
        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <p>$230.000</p>
          <p>20% OFF</p>
          <p>MacBook Pro 2019</p>
        </article>
        <article>
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </article>
        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <p>$23.200</p>
          <p>5% OFF</p>
          <p>SmartTv Samsung 43"</p>
        </article>
      </section>

      <!-- Sección de Ofertas -->
      <section class="section_imagenes">
        <article>
          <h4>Sección de Ofertas</h4>
          <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
          <p>$6.770</p>
          <p>40% OFF</p>
          <p>Cafetera Moulinex</p>
        </article>
        <article>
          <img src="images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019" />
          <p>$230.000</p>
          <p>20% OFF</p>
          <p>MacBook Pro 2019</p>
        </article>
        <article>
          <img
            src="images/img-samsung-galaxy-s10.jpg"
            alt="Samsung Galaxy S10"
          />
          <p>$70.500</p>
          <p>10% off</p>
          <p>Samsung Galaxy S10</p>
        </article>
        <article>
          <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43" />
          <p>$23.200</p>
          <p>5% OFF</p>
          <p>SmartTv Samsung 43"</p>
        </article>
      </section>
    </main>
    <footer>
      <section>
        <article>
          <i class="fa-solid fa-credit-card"></i>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>
            Con Mercado LiebreCash, tenés cuotas sin <br />
            interés con tarjeta o efectivo en puntos de <br />
            pago. ¡Y siempre es seguro!
          </p>
        </article>
        <article>
          <i class="fa-solid fa-gift"></i>
          <h3>Envío gratis desde $ 2.500</h3>
          <p>
            Solo por estar registrad@ en Mercado Liebre<br />tenés envíos gratis
            en miles de productos. Es <br />
            un beneficio de Mercado Puntos.
          </p>
        </article>
        <article>
          <i class="fa-solid fa-user-shield"></i>
          <h3>Seguridad de principio a fin</h3>
          <p>
            ¿No te gusta? ¡Devolvelo! En Mercado Liebre <br />, no hay nada que
            no puedas hacer, porque estás <br />
            siempre protegid@.
          </p><br><br>
          <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
      </section>
    </footer>
  </body>
</html>
