body {
  background-color: #ebebeb;
}

main {
  background-color: #ebebeb;
}

main section article {
  background-color: white;
  margin: 10px 10px;
  margin-top: auto;
}

.burger_boton {
  border-radius: 5px;
  background-color: #1259c3;
  padding: 10px;
  margin-top: 20px;
  margin-left: 45%;
  width: 33px;
}

.burger_boton i {
color: white;
}

header {
  background-color: #eac926;
  padding-bottom: 20px;
}

.banner {
  max-width: 100%;
  height: auto;
}

.section_imagenes article img {
  max-width: 100%;
  height: auto;
  padding-bottom: 20px;
}

.section_imagenes {
  text-align: center;
  font-size: 16px;
}


footer {
  background-color: white;
  padding-top: 50px;
  padding-bottom: 30px;
}

footer section {
  margin-top: 20px;
  margin-bottom: 10px;
}

footer section article {
  text-align: center;
  margin: 20px 0px;
  margin-bottom: 50px;
}

footer section article i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}
