body {
  margin: 0;
  padding: 0;
}

/* ------------------------------------------HEADER--------------------------------------------------------------- */

header {
  background-color: #eac926;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.contenedor_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenedor_logo {
  width: 20%;
}

div.contenedor_barra {
  display: flex;
  justify-content: center;
}

.contenedor_barra {
  flex: 1;
  display: flex;
  position: relative;
}

input {
  width: 50%;
  padding: 5px;
}

.fa-magnifying-glass {
  position: absolute;
  transform: translateY(-50%);
  cursor: pointer;
  margin-left: 45%;
  margin-top: 2%;
  color: #ababab;
}

.h4_header {
  font-size: 14px;
  margin-right: 3%;
}

.contenedor_lista {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.nav_ofertas,
.cuenta_ingresa_compras {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.cuenta_ingresa_compras {
  margin-right: 2%;
}

nav a {
  text-decoration: none;
  color: #333;
  padding: 5px;
  display: flex;
  align-items: center;
}

.icono-enlace {
  display: flex;
  align-items: center;
}

.icono-enlace a {
  text-decoration: none;
  color: #333;
  padding: 5px;
}

.icono-enlace i {
  margin-left: 5px;
}

.burger_boton {
  border-radius: 5px;
  background-color: #1259c3;
  padding: 10px;
  margin-top: 20px;
  margin-left: 45%;
  width: 40px;
}

.burger_boton i {
  font-size: 23px;
  color: white;
}

.banner {
  max-width: 100%;
  cursor: pointer;
}

/* ------------------------------------------MAIN--------------------------------------------------------------- */

main {
  background-color: #ebebeb;
}

main h4 {
  font-size: 20px;
  text-align: left;
  color: #000000;
  padding: 20px;
}

.section_ultima_visita {
  display: flex;
}

main section article {
  background-color: white;
  margin: 10px 20px;
  margin-top: auto;
  padding-bottom: 20px;
  filter: drop-shadow(5px 5px 10px #ababab);
  border-radius: 3%;
  cursor: pointer;
}

.section_ultima_visita article img {
  max-width: 100%;
  height: auto;
  border-bottom: 1px solid #e4e2e2;
  border-radius: 3%;
}

section article p {
  margin-left: 20px;
}

main section article {
  transition: transform 0.3s ease-out;
}

main section article:hover {
  transform: scale(1.1);
}

.fa-truck {
  border: solid;
  border-radius: 50%;
  margin-right: 10px;
  padding: 2%;
  color: #39b54a;
  margin-left: 80%;
}

.OFF {
  color: #39b54a;
}

/* ------------------------------------------FOOTER--------------------------------------------------------------- */

footer {
  display: flex;
  justify-content: center;
  background-color: white;
}

footer section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

footer section article {
  font-size: 14px;
  padding-top: 20px;
  text-align: center;
  margin: 20px 0px;
  margin-bottom: 50px;
}

footer section article i {
  font-size: 2em;
  margin-bottom: 10px;
  color: #1259c3;
}
