@media (max-width: 426px) {
  nav.contenedor_lista{
    display: none;
  }

  .section_ultima_visita article {
    filter: none;
  }

  .section_ultima_visita {
    display: block;
  }

  main {
    flex-direction: column;
  }

  .section_imagenes {
    font-size: 10px;
  }

  footer section article {
font-size: 10px;
  }
}

@media (min-width: 427px) {
  .burger_boton {
    display: none;
  }
}

