/* ------------------------------------------MOBILE--------------------------------------------------------------- */

@media (max-width: 426px) {
  nav.contenedor_lista{
    display: none;
  }

  .contenedor_barra {
   flex: none;
  }

  .contenedor_barra input {
    width: 100%;
  }

  .h4_header {
    font-size: 12px;
    margin-top: 5%;
    margin-left: 10%;
  }

div.contenedor_header {
  display: flex;
  flex-wrap: wrap;
}

  .contenedor_logo {
    width: 50%;
  }

  .section_ultima_visita article {
    filter: none;
  }

  .section_ultima_visita {
    display: block;
  }


  .section_imagenes {
    font-size: 10px;
  }

  footer section article {
font-size: 10px;
  }
}

/* ------------------------------------------TABLET/DESKTOP--------------------------------------------------------------- */

@media (min-width: 427px) {
  .burger_boton {
    display: none;
  }
}

/* ------------------------------------------TABLET--------------------------------------------------------------- */

@media (min-width:768px) and (max-width:1023px) {
  .section_ultima_visita {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
h4.h4_header {
  font-size: 10px;
}

main h4 {
  margin-left: 2%;
}

nav.contenedor_lista {
  font-size: 12px;
}

  main section article {
    width: 44%;
  }
}

